button.jaid-button {

    height: var(--global-input-height);

    color: var(--color-text--inverted);

    border: none;
    border-radius: var(--content-block-border-radius--small);
    background-color: var(--color-background-mute--inverted);
}

button.jaid-button:not(:disabled) {
    cursor: pointer;
}

button.jaid-button:disabled {
    opacity: 0.5;
}
