button {
    height: var(--global-input-height);
    border: none;
    border-radius: var(--content-block-border-radius--small);
    background-color: var(--color-background-mute--inverted);
    color: var(--color-text--inverted);
}
