input,
select,
textarea {
    border: 0.1rem solid var(--vt-c-indigo);
    border-radius: var(--content-block-border-radius--small);
}

.has-input-border {
    border: 0.1rem solid var(--vt-c-indigo) !important;
}

.has-input-border-radius {
    border-radius: var(--content-block-border-radius--small) !important;
}

input,
select {
    height: var(--global-input-height);
}

textarea {
    height: 10rem;
    max-width: 100%;
    min-width: 100%;
}
